.BG
{
  position: relative;
}

.BG_img
{
  height: 100vh;
  min-height: 500px;
  max-height: 1000px;
  background-image: url("bgnew2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 30px;
  position: relative;
}

.slider
{
  position: fixed;
  z-index: 999;
  top: 200px;
  height: 40px;
  width: 150px;
  bottom: 0;
  left: -50px;
  padding-top: 10px;
  border-radius: 20px 20px 0 0;
  background-color: #329436;
  font-size: 20px;
  transform: rotate(90deg);
  text-align: center;
  color: #ffffff;
}

.TEXT
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
  text-align: center;
  font-family: 'Secular One';
}

.IMAGES
{
    height: 42vw;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flex;
}

.IMG
{
  height: 100%;
  margin: 3px;
}

.IMG_ONE
{
  width: calc(100%/2.4);
}

.IMG_TWO
{
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
  height: 100%;
}

.IMG_THREE
{
  width: calc(100%/3);
  position: relative;
  height: 100%;
}

.img_one
{
  height: 50%;
  margin-bottom: 3px;
}

.img_two
{
  height: 49%;
  margin-top: 3px;
}

.extra
{
  position: absolute;
  background-color: black;
  opacity: 0%;
  top: 0;
  height: 100%;
  width: 100%;
}

.extra:hover
{
  opacity: 70%;
}

.IMAGE
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer
  {
    height: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 200px;
  }

.inspired
{
  font-size: 2.5vw;
  font-weight: bolder;
}

::selection{
  background-color: #9a9a9a;
  color: #f1f1f1;
}

.uploading
{
  background-color: antiquewhite;
  width: 90vw;
  height: 40vw;
  min-height: 400px;
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("image-blur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.add
{
  height: auto;
  width: auto;
  /* background-color: antiquewhite; */
  color: #323e58;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

@media (max-width: 900px)
{
  .BG_img
  {
    max-height: 700px;
  }

  .IMAGES
  {
    width: 70vw;
    height: 50vw;
  }

  .inspired
  {
    font-size: 20px;
  }

  .IMG_ONE
  {
    display: none;
    width: 0;
  }

  .IMG_TWO
  {
    width: calc(100%/2);
    height: 100%;
  }

  .IMG_THREE
  {
    width: calc(100%/2);
    height: 100%;
  }

  .img_one
  {
    border-radius: 10px 0 0 0;
    height: 48%;
    margin-bottom: 4px;
  }
  
  .img_two
  {
    border-radius: 0 0 0 10px;
    height: 51%;
    margin-top: 2px;
  }

  .add
  {
    font-size: 25px;
  }

}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(32, 94, 47);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(32, 61, 33);
  }

html
{
  scroll-behavior: smooth;
}

a
{
  text-decoration: none; 
  text-transform: none;
}

  
