.top
{
  height: 100vh;
  /* min-height: 500px; */
  max-height: 1000px;
  background-image: url("taking_a_picture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 5vw;
}

.img_top
{
    height: 100vh;
    width: 100%;
}

.top_text
{
    position: absolute;
    color: white;
    top: 42%;
    left: 5%;
}

.IMAGES
{
    height: 100vw;
    width: 90vw;
    /* background-color: antiquewhite; */
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    position: relative;
}

.one
{
    position: absolute;
    top: 0px;
    height: 40%;
    width: 49.5%;
    background-image: url("travelling6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.two
{
    position: absolute;
    top: 0px;
    left: 50.5%;
    height: 60%;
    width: 49.5%;
    background-image: url("travelling1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.three
{
    position: relative;
    top: 40.5%;
    height: 40%;
    width: 49.5%;
    background-image: url("travelling5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.four
{
    position: absolute;
    top: 60.5%;
    left: 50.5%;
    height: 40.5%;
    width: 49.5%;
    background-image: url("travelling2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.five
{
    position: relative;
    top: 41%;
    height: 20%;
    width: 49.5%;
    background-image: url("travelling3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider
{
    position: fixed;
    z-index: 999;
    top: 300px;
    height: 40px;
    width: 150px;
    bottom: 0;
    left: -50px;
    padding-top: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #214a34;
    font-size: 20px;
    transform: rotate(90deg);
    text-align: center;
    color: #ffffff;
}

.footer
  {
    height: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .tag {
    font-family: inherit;
    font-size: 15px;
    background: #214a34;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    transition: all 0.2s;
    z-index: 999;
   }
   
   .tag span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .tag svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .tag:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .tag:hover svg {
    transform: translateX(1.8em) rotate(45deg) scale(1.3);
   }
   
   .tag:hover span {
    transform: translateX(5em);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   .tag
   {
    position: fixed;
    transform: rotate(90deg);
    margin-top: -60vh;
    margin-left: -35px;
   }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(42, 41, 41);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }

  @media (max-width: 800px)
  {
    .top
    {
        font-size: 6vw;
    }
  }
  
  @media (max-width: 860px)
  {
    .top
    {
        background-size: cover;
        height: 60vh;
        width: 100%;
        min-height: 300px;
    }

    .top_text
    {
        position: absolute;
        color: aliceblue;
        top: 32%;
        left: 5%;
    }  
    
    .tag
    {
      margin-top: -10%;
    }
  }
  
  @media (max-width: 620px)
  {
    .top
    {
        background-size: cover;
        height: 40vh;
        width: 100%;
        min-height: 200px;
    }

    .top_text
    {
        position: absolute;
        color: aliceblue;
        top: 22%;
        left: 5%;
    }   
  }
  
 

