.top
{
    height: 100vh;
    width: 100%;
    min-height: 500px;
}

.dropbtn:hover {
  color: rgb(183, 183, 183);
}

.dropbtn
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 7 0px;
    width: 370px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
    border-width: 0;
    font-family: 'Secular One', sans-serif;
}


/* width */
body::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: rgb(42, 41, 41);
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }
  

  /* width */
  .container::-webkit-scrollbar {
    width: 0px;
    border-radius: 20px;
  }
  
  /* Track */
  .container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .container::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  .container::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }


  ::selection{
    color: rgb(255, 255, 255);
    background-color: #5fc9df;
  }
  .container{
    /* max-width: 950px; */
    width: 100vw;
    overflow: scroll;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    padding: 80px 0;
  }
  .container .main-card{
    /* background-color: #000; */
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: .7s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-around;
  }
  .main-card .cards .card{
    width: calc(100% / 4);
    /* background: #fff; */
    border-radius: 12px;
    padding: 30px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.4s ease;
  }

  
  .card
  {
    height: 300px;
  }
  
  .cards
  {
    height: 310px;
  }
  
  .card:hover
  {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    height: 310px;
  }
  .card .content{
    height: 100%;
    width: 100%;
    /* border: 3px solid #ffff; */
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 700;
  }

   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }

  .india
  {
    background-image: url("india1.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    border-color: #782920;
  }
  
  .japan
  {
    background-image: url("japan1.jpg");
    background-size: cover;
    background-position: center;
    color: #37536b;
    border-color: #496784;
  }
  
  .australia
  {
    background-image: url("australia.jpg");
    background-size: cover;
    background-position: center;
    color: #704b36;
  }
  
  .france
  {
    background-image: url("france.jpg");
    background-size: cover;
    color: #deb163;
    border-color: rgb(149, 149, 149);
  }
  
  .russia
  {
    background-image: url("russia.jpg");
    background-size: cover;
    background-position: center;
    color: #0e2e27;
    border-color: rgb(149, 149, 149);
  }
  
  .sweden
  {
    background-image: url("sweden.jpg");
    background-size: cover;
    background-position: center;
    color: #550d06;
    border-color: rgb(149, 149, 149); 
  }

  .post_img
  {
    width: 42%;
    height: 100%;
    /* background-color: #006284; */
    position: absolute;
    background-image: url("post.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: 100%;
    }
  }

  .footer
  {
    height: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 00px;
  }

  .Text
  {
    margin-top: 200px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #565656;
  }

  .posts
  {
    height: 100vh;
    min-height: 650px;
    background-color: #000000;
    position: relative;
  }

  .post_text
  {
    width: max-content;
    position: relative;
    top: 35%;
    left: 47%;
    color: #e7e3e3;
    line-height: 40px;
    font-size: 16px;
    font-size: 3em;
  }
  
  
  
  .First
  {
    border-radius: 38%;
    margin-left: 50%;
    height: 15px;
    width: 50px;
    /* background-color: #000; */
  }

  html
  {
    scroll-behavior: smooth;
  }

  a
  {
    text-decoration: none;
    text-transform: none;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5vh; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  text-align: center;
  /* min-height: 55vw; */
  max-height: 700px;
  z-index: 1000;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

svg
{
  height: 100%;
  width: 100%;
}

svg path
{
    fill: #00394f;
    stroke: #eee;
    stroke-width: 0.25;
}

svg path:hover
  {
    fill: #006284;
    transition: 0.3s;
    cursor: pointer;
  }

  @media (max-width: 1100px) {
    .post_img
    {
      width: 60vw;
      height: 40vw;
      border-radius: 20px;
      margin-top: -100px;
      align-self: center;
      margin-left: 20%;
    }

    .post_text
    {
      position: relative;
      top: 40vw;
      margin-left: -7%;
    }

    .adven
    {
      margin-left: -25%;
    }

    .posts
    {
      max-height: 500px;
    }

    .top
    {
      max-height: 400px;
    }

    .dropbtn
    {
      top: 30%;
    }
  }

@media (max-width: 650px)
{
  .Text
  {
    font-size: 25px;
  }

  .posts
  {
    height: 40vw;
    min-height: 400px;
  }

  .dropbtn
  {
    font-size: 40px;
  }

}

