.TOP
{
    height: 100vh;
    width: 100%;
    background-image: url("share.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    max-height: 1000px;
    min-height: 500px;
}

.TOP_text
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 4vw;
    text-align: center;
}

.slider
{
    position: fixed;
    z-index: 999;
    top: 200px;
    height: 40px;
    width: 150px;
    bottom: 0;
    left: -50px;
    padding-top: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #32a1cd;
    font-size: 20px;
    transform: rotate(90deg);
    text-align: center;
    color: #ffffff;
}

.no_one
{
    text-align: center;
    margin-top: 100px;
}

.add
{
    position: relative;
    height: 45vw;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
}

.images
{
    background-image: url("input.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: none;
    height: 28vw;
    width: 28vw;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.text
{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit
{
    height: 400px;
    text-align: center;
}

.submission_button
{
    margin-top:200px;
    height: 70px;
    width: 250px;
    font-size: 30px;
    font-family: 'Secular One';
    border-radius: 10px;
    border: 0;
}

.submission_button:hover
{
    background-color: rgb(206, 206, 206);
}

.footer
{
    /* position: relative; */
    margin-top: 0px;
    bottom: 0;
    height: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* background-color: #006284; */
}

#file
{
    width: 100px;
    font-size: 14px;
}

#file::-webkit-file-upload-button {
    display: none;
  }


#file:hover
{
    text-decoration: underline;
}

.Story
{
    position: relative;
    top: 100px;
    height: 100vw;
}

.story
{
    text-align: center;
}


.Container
{
    display: flex;
    justify-content: space-around;
    /* margin-top: 10%; */
    height: 90vw;
    flex-direction: column;
    /* background-color: #00394f; */
    position: relative;
}

.country
{
    display: flex;
    justify-content: space-around;
}

/* .Country
{
    background-color: #006284;
    width: 50%;
    display: flex;
    justify-content: center;
} */

.map
{
    height: 40vw;
    width: 77vw;
    border: 0;
}

.input
{
    padding: 7px;
    text-align: center;
}

.textarea
{
    height: 30vw;
    width: 70vw;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: -1%;
    font-family: 'Secular One';
    background-color: #dddddd;
    color: #000000;
    border: 0;
}

@media (max-width:650px)
{
    .TOP
    {
        max-height: 700px;
    }

    .submission_button
    {
        height: 40px;
        width: 150px;
        font-size: 15px;
        font-family: 'Secular One';
        border-radius: 10px;
        border: 0;
    }

}

.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   .learn-more {
    width: 12rem;
    height: auto;
   }
   
   .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #3798bb;
    border-radius: 1.625rem;
   }
   
   .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #3798bb;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .learn-more:hover .circle {
    width: 100%;
   }
   
   .learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .learn-more:hover .button-text {
    color: #fff;
   }

   .button-text
   {
    font-size: 17px;
   }
   
/* From uiverse.io by @adamgiebl */
.tag {
    font-family: inherit;
    font-size: 15px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    transition: all 0.2s;
    z-index: 999;
   }
   
   .tag span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .tag svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .tag:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .tag:hover svg {
    transform: translateX(1.8em) rotate(45deg) scale(1.3);
   }
   
   .tag:hover span {
    transform: translateX(5em);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   .tag
   {
    position: fixed;
    transform: rotate(90deg);
    margin-top: -60vh;
    margin-left: -35px;
   }
   

@media (max-width:1000px)
{
    .add
    {
        flex-direction: column;
        height: 70vw;
    }

    .images
    {
        top: 25%;
        left: 50%;
        height: 35vw;
        width: 35vw;
    }

    .story
    {
        font-size: 5vw;
    }

    .no_one
    {
        font-size: 5vw;
    }

    .TOP_text
    {
        font-size: 5vw;
    }
}

/* width */
::-webkit-scrollbar
{
    width: 10px;
    border-radius: 20px;
}

  /* Track */
::-webkit-scrollbar-track
{
    background: #ffffff;
}

  /* Handle */
::-webkit-scrollbar-thumb
{
    background: rgb(42, 41, 41);
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: rgb(0, 0, 0);
}






